# chezmoi:template:left-delimiter=#{{
#{{ range $_, $func := list "install" "uninstall" "upgrade" -}}
#{{ template "powershell/winget.ps1" $func }}
#{{ end }}

#{{- template "powershell/profile.ps1" . -}}
