# chezmoi:template:left-delimiter=#{{
$OutputEncoding = [System.Text.UTF8Encoding]::new()

#{{ range $_, $func := list "install" "uninstall" "upgrade" -}}
#{{ template "powershell/winget.ps1" $func }}
#{{ end }}

#{{- template "powershell/profile.ps1" . -}}
