:: chezmoi:template:left-delimiter=::{{

::{{- $tweaksDir := joinPath .chezmoi.sourceDir ".chezmoiscripts" "windows" ".reg" "user" -}}
::{{- $tweaks := glob (joinPath $tweaksDir "**/*.reg") -}}

::{{- if $tweaks -}}
@echo off

echo Applying Registry tweaks (user)...
::{{   range $tweaks -}}
::{{     $command := printf `reg import "%s"` . }}
echo ::{{ $command | replace ($tweaksDir | replace `\` "/") "..." }}
::{{     $command }}
::{{   end }}
echo Applying Registry tweaks (user)... Done

EXIT
::{{- end -}}
