:: chezmoi:template:left-delimiter=::{{

::{{- $tweaks := (glob (joinPath .chezmoi.sourceDir ".chezmoiscripts" "windows" ".reg" "user" "**/*.reg")) -}}

::{{- if $tweaks -}}
@echo off

echo "Applying Registry tweaks (user)..."
::{{   range $tweaks -}}
::{{     $command := printf `reg import "%s"` . }}
echo ::{{ $command }}
::{{     $command }}
::{{   end }}
echo "Applying Registry tweaks (user)... Done"

EXIT
::{{- end -}}
